version: "3.7"

services:
  nocodb:
    volumes:
      - ./nocodb/data:/usr/app/data/
    ports:
      - 8080:8080

  backend:
    command: uvicorn mec.main:app --workers 4 --host 0.0.0.0 --port 8181 --reload
    # command:
    ports:
      - 8181:8181
    environment:
      ENV: "Local"

    volumes:
      # - ./backend:/usr/mec/static
      - ./backend/:/app

  # frontend:
  #     build:
  #         target: 'deploy'
  #     depends_on:
  #         - backend
  #     environment:
  #         ENV: "Local"
  #         NODE_ENV: development
  #     ports:
  #         - 3000:3000
